{% extends '__base.html' %}
{% block page_title %}
    Tickets
{% endblock %}
{% block content %}
    {{ role }}
    <div class="container mt-5">
        <!-- Open Tickets -->
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                Open Tickets
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        {% if user.is_staff or 'Admin' in user.groups.all %}
                            <th scope="col">Owner</th>
                        {% endif %}
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if open_tickets %}
                        {% for ticket in open_tickets %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ ticket.title }}</td>
                                <td>{{ ticket.description }}</td>
                                {% if user.is_staff or 'Admin' in user.groups.all %}
                                    <td>{{ ticket.user|capfirst }}</td>
                                {% endif %}
                                <td><span class="badge badge-primary">{{ ticket.status }}</span></td>
                                <td>
                                    {% if "Admin" in user.groups.all or user.is_superuser %}
                                        <a href="{% url 'ticket_delete' ticket.id %}">
                                            <button class="btn btn-sm btn-danger">Delete</button>

                                        </a>
                                    {% endif %}
                                    {% if "support" not in user.groups.all and "Admin" not in user.groups.all and not user.is_staff %}
                                        <a href="{% url 'ticket_detail' ticket.id %}">
                                            <button class="btn btn-sm btn-primary">View</button>
                                        </a>
                                    {% endif %}
                                    {% if "support" in user.groups.all or  "Admin" in user.groups.all or user.is_superuser %}
                                        <a href="">
                                            <button class="btn btn-sm btn-success">Accept</button>
                                        </a>
                                    {% endif %}

                                </td>
                            </tr>

                        {% endfor %}
                    {% else %}
                        <td colspan="5" class="text-center h3 text-danger"> No tickets</td>

                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>

        <!-- pending Tickets -->
        <div class="card mb-4">
            <div class="card-header bg-warning text-white">
                Pending Tickets
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        {% if user.is_staff or 'Admin' in user.groups.all %}
                            <th scope="col">Owner</th>
                        {% endif %}
                        <th scope="col">Status</th>
                        <th scope="col">Assigned to</th>
                        <th scope="col">Accepted date</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if pending_tickets %}
                        {% for ticket in pending_tickets %}
                            {% if 'Pending' in ticket.status %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ ticket.title }}</td>
                                    <td>{{ ticket.description }}</td>
                                    {% if user.is_staff or 'Admin' in user.groups.all %}
                                        <td>{{ ticket.user|capfirst }}</td>
                                    {% endif %}
                                    <td><span class="badge badge-warning">{{ ticket.status }}</span></td>
                                    <td>{{ ticket.assigned_to|capfirst }}</td>
                                    <td>{{ ticket.accepted_at }}</td>
                                    <td>
                                        {% if "Admin" in user.groups.all or user.is_staff %}
                                            <a href="{% url 'ticket_detail' ticket.id %}">
                                                <button class="btn btn-sm btn-danger">Close</button>

                                            </a>
                                        {% endif %}
                                        <a href="{% url 'ticket_detail' ticket.id %}">
                                            <button class="btn btn-sm btn-primary">View</button>

                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td colspan="7" class="text-center h3 text-danger"> No tickets</td>
                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>

        <!-- Closed Tickets -->
        <div class="card">
            <div class="card-header bg-secondary text-white">
                Closed Tickets
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Status</th>
                        <th scope="col">Closed at</th>
                        <th scope="col">Closed by</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Example open ticket entries -->
                    {% if closed_tickets %}
                        {% for ticket in closed_tickets %}
                            {% if 'Closed' in ticket.status %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ ticket.title }}</td>
                                    <td>{{ ticket.description }}</td>
                                    <td><span class="badge badge-danger">{{ ticket.status }}</span></td>
                                    <td>{{ ticket.closed_at }}</td>
                                    <td>{{ ticket.closed_by|capfirst }}</td>
                                    <td>
                                        <a href="{% url 'ticket_detail' ticket.id %}">
                                            <button class="btn btn-sm btn-primary">View</button>

                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td colspan="7" class="text-center h3 text-danger"> No tickets</td>
                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}